#pr-container {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

form {
    height: max-content;
    max-width: 100%;
    width: 100%;
    height: 120px;
    background-color: #0575bb11;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#palavra-chave {
    width: 600px;
    border-radius: 20px;
    background-color: #245C4D4D;
    border-color: #2F4F4F;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#palavra-chave::placeholder {
    color: #00000080;
    text-indent: 20px;
}

fieldset {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: min-content;
    width: 100%;
    flex-wrap: nowrap;
    border: none;
    align-items: center;
}

legend {
    float: left;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.pr-filters {
    border-radius: 20px;
    background-color: #2F4F4F;
    color: white;
    padding-left: 10px;
    width: 100%;
    padding-right: 10px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.pr-line {
    justify-content: space-between;
    gap: 10px;
    display: flex;
    height: 100%;
    width: 100%;
}

.pr-search-item {
    margin-left: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 30%;
    align-items: center;
    font-size: 15px;
}

.pr-search-item label {
    text-align: left;
    position: relative;
}

.pr-nome {
    color: #fff;
}

#nomeprojeto::placeholder {
    color: white;
    text-indent: 10px;
}

.search-box {
    position: relative;
    display: flex;
}

.search-box input {
    width: 300px;
    outline: none;
}

.search-box input:focus {
    border-color: #007bff;
}

.search-button {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-button svg {
    color: #888;
    transition: color 0.2s ease;
}

.search-button:hover svg {
    color: #007bff;
}

#aplicar {
    max-width: 100%;
    width: 200px;
    background-color: #0574BB;
    border-radius: 25px;
    color: white;
    border: none;
    cursor: pointer;
    height: 32px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#aplicar:hover {
    transform: translateY(-2px);
}

#aplicar:active {
    transform: translateY(2px);
}

section {
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

article {
    width:100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.article-link{
    width:100%;
    height:300px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
    text-decoration: none;
}


article:hover {
    transform: translateY(-5px);
}


.article-img {
    width: 30%;
    height: 100%;
    order: 2;
    float: right;
    border-radius: 5px;    
    display:block;
    object-fit: cover;
    
}

.article-text {
    width: 60%;
    margin-right: 10%;
    padding: 20px;
    height:100%;

}

article::after {
    content: "";
    display: table;
    clear: both;
}

.article-title {
    font-weight: bold;
    text-decoration: none;
    color:#245C4D;
}

h6 {
    display: inline-block;
    margin-right: 2rem;
}

article p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;      /* Mostra só 3 linhas */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

a {
    color: black;
}

.button {
    width: 260px;
    height: 50px;
    border: solid transparent;
    background-color: #04619b;
    color: var(--color-2);
    border-radius: 30px;
    letter-spacing: 2px;
    font-size: 14px;
    cursor: pointer;
    border-width: 0 0 4px;
    box-sizing: border-box;
    font-family: din-round, sans-serif;
    font-weight: 700;
    letter-spacing: .8px;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
}

.button:after {
    background-clip: padding-box;
    background: radial-gradient(circle, rgba(5, 116, 187, 1) 0%, rgba(4, 97, 155, 1) 42%, rgba(11, 80, 122, 1) 100%);
    border: solid transparent;
    border-radius: 30px;
    border-width: 0 0 3px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button,
.button:focus {
    user-select: auto;
}

.button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button:disabled {
    cursor: auto;
}

.button:active {
    border-width: 4px 0 0;
    background: none;
}

@media (max-width: 1100px) {
    .pr-filters {
        width: 70%;
    }

    .pr-search-item {
        width: 50%;
    }

    .pr-nome {
        width: 70%;
    }

    #aplicar {
        width: 100%;
    }
}

@media (max-width: 900px) {

    section {
        display: grid;
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }

    form {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        height: 100%;
    }

    .pr-line {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    legend {
        text-align: center;
        width: 100%;
    }

    article {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .article-text {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    h6 {
        display: block;
        text-align: right;
        margin-top: 0;
        margin-right: 10px;
        display: flex;
        order: 2;
        flex-direction: column;
        justify-content: center;
        align-self: flex-end;
    }

    article img {
        width: 40%;
        order: 1;
        align-self: center;
        margin-right: 10px;
    }

    article p {
        display: none;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
    }

    .pr-filters {
        width: 300px;
        margin-bottom: 10px;
    }

    #palavra-chave {
        width: 300px;
    }

    .search-box {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        position: relative;
    }

    .search-box input {
        width: 100%;
        max-width: 300px;
        padding-right: 40px;
    }

    .search-button {
        position: absolute;
        right: 10px;
        margin-top: 5px;
        top: 30%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        cursor: pointer;
    }

    #aplicar {
        justify-content: center;
        margin-left: 0;
    }

    .pr-search-item {
        gap: 5px;
        width: 50%;
        padding: 5px;
    }

    .pr-nome {
        width: 60%;
    }

    .pr-search-item label {
        width: 80px;
        text-align: left;
        top: -5px;
    }
}

@media (max-width:400px) {
    .search-box {
        width: 100%;
    }

    legend {
        width: 100%;
        font-size: 15px;
    }

    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .article-text {
        font-size: 0.6rem;
    }

    form {
        font-size: 0.6rem;
        height: 300px;
    }

    #palavra-chave {
        width: 100%;
    }

    .pr-filters {
        width: 100%;
    }

    .pr-search-item {
        width: 60%;
        flex-direction: column;
        height: 50px;
    }

    .pr-search-item label {
        top: 0px;
        text-align: center;
        font-size: 12px;
    }

    .search-button {
        right: 3%;
        top: 4px;
        width: 22%;
        display: flex;
        justify-content: end;
    }

    .search-button svg {
        color: #888;
        transition: color 0.2s ease;
        height: 40%;
        width: 40%;
    }

    .search-button:hover svg {
        color: #007bff;
    }

    #aplicar {
        max-width: 100%;
        width: 200px;
        background-color: #0574BB;
        border-radius: 25px;
        color: white;
        border: none;
        cursor: pointer;
        height: 32px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    article {
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
        margin-top: 30px;
    }

    article img {
        width: 65%;
        height: fit-content;
    }

    .article-text {
        width: 90%;
    }

    h2 {
        font-size: 15px;
    }

    h6 {
        font-size: 10px;
    }

    h5{
        font-size: 12px;
    }
}