* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #222;
}

/* Container centralizado - para limitar largura da página */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.page_title {
    color: #2f4f4f;
    margin-top: 24px;
    font-size: 32px;
    margin-bottom: 8px;
}

form {
    height: min-content;
    max-width: 100%;
    width: 100%;
    height: 120px;
    background-color: #0575bb11;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#palavra-chave {
    width: 600px;
    border-radius: 20px;
    background-color: #245C4D4D;
    border-color: #2F4F4F;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#palavra-chave::placeholder {
    color: #00000080;
    text-indent: 20px;
}

fieldset {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
        height: min-content;
        width: 100%;
    flex-wrap: nowrap;
    border: none;
    align-items: center;
}

legend {
    float: left;
    width: 100px;
    text-align: right;
}

.pr-filters {
    justify-content: center;
    border-radius: 20px;
    background-color: #2F4F4F;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 120px;
}

.pr-search-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.pr-nome {
    color: #fff;
    width: 150px;
}

#nomeprojeto::placeholder {
    color: white;
    text-indent: 10px;
}

.search-box {
    position: relative;
    display: flex;

}

.search-box input {
    width: 300px;
    outline: none;
}

.search-box input:focus {
    border-color: #007bff;
}

.search-button {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-button svg {
    color: #888;
    transition: color 0.2s ease;
}

.search-button:hover svg {
    color: #007bff;
}

#aplicar {
    max-width: 100%;
    width: 200px;
    background-color: #0574BB;
    border-radius: 25px;
    color: white;
    border: none;
    cursor: pointer;
    height: 32px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section {
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.pubs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pub-article {
    width: fit-content;
    cursor: pointer;


}

.pub-pub {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pub-card {
    background: white;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 325px;
    height: 350px;
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.pub-cover {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 4px;
}

.pub-title {
    font-size: 15px;
    color: #234;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.pub-authors {
    display: flex;
    font-size: 13px;
    color: #777;
    margin-top: auto;
    justify-content: center;
}

.pub-actions {
    display: flex;
    gap: 12px;
    margin-top: auto;
    justify-content: center;
}

.btn {
    padding: 6px 10px;
    border-radius: 25px;
    border: 1px solid #0574BB;
    background: white;
    cursor: pointer;
    margin-top: 12px;
    color:#0574BB;
    text-decoration: none;
}

#pu-line {
    width: 100%;
    height: 1px;
    background-color: #333;
    margin: 10px auto 0;
    border-radius: 2px;
    margin-bottom: 1rem;
}

@media (max-width: 900px) {
    .container {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .pubs-grid {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    #pu-line {
        width: 100%;
        max-width: 1000px;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .pubs-grid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    #pu-line {
        width: 100%;
        max-width: 1000px;
    }
}