body {
  font-family: Arial, sans-serif;
 
  background-color: white;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.filter-container {
  margin-bottom: 15px;
  text-align: center;
}

select {
  padding: 5px 10px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

.actions a,
.actions button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  text-decoration: none; /* pra tirar o sublinhado do <a> */
  display: inline-block; /* pra ficar com cara de botão */
}

.actions .edit {
  background-color: #4caf50;
}

.actions .delete {
  background-color: #f44336;
}

.actions a:hover,
.actions button:hover {
  opacity: 0.9;
}

.field {
  display:flex;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
